@import 'bootstrap';
@import 'bootstrap-sprockets';
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serif;
  color: #706F6F;
}

#logo {
  height: 350px;
  text-align: center;
  margin-top: 125px;
}

.top h1 {
  font-size: 52px;
  color: white;
  margin-top: 50px;
}

.top {
  background: url(new_york.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  opacity: 0.7;
  margin: 0px auto;
}

.contact {
  height: 100vh;
  margin-top: 300px;
}

.form-group {
  margin-top: 50px;
}

.projects h1 {
  padding: 50px;
  text-align: center;
}

#tennis h1 {
  margin-top: 200px;
}

.projects {
  height: 200vh;
  line-height: 0px;
  color: transparent;
  font-size: 50px;
  font-weight: 300;
}

.projects h3 {
  margin-left: 20%;
  margin-top: 200px;
}

.projects:hover {
  color: #575858;
}

.work {
  padding: 50px;
}

h1 {
  position: relative;
  z-index: 2;
}

#tennis {
  float: right;

}

#tennis img {
  width: 100%;
  position: relative;
  margin-right: -35px;
}

#tennis h1, #tennis h3 {
  position: absolute;
  margin-left: 250px;
  margin-top: 225px;
  color: white;
}

#tennis h1, #tennis h3 {
    opacity:0; /* Completely invisible. */
    transition:1s; /* A 1 second transition. */
}

#tennis:hover h1, #tennis:hover h3 {
    opacity:1; /* Completely visible. */
}

#tennis h3 {
  margin-top: 325px;
  margin-left: 25%;
  border-top-style: solid;
  border-top-width: 1px;
  padding: 10px;
}
