@import 'bootstrap';
@import 'bootstrap-sprockets';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {

  font-family: 'Open Sans', sans-serif;
  color: #706F6F;
}

#logo {
  height: 350px;
  text-align: center;
  margin-top: 50px;
}

.top h1 {
  font-size: 52px;
  color: white;
  margin-top: 50px;
}

.top {
  background: url(new_york.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  opacity: 0.7;
  margin: 0px auto;
}

.contact {
  height: 100vh;
  margin-top: 300px;
}

.form-group {
  margin-top: 50px;
}

.projects h1 {
  padding: 50px;
  text-align: center;
}

.projects {
  height: 200vh;
  line-height: 0px;
  color: transparent;
  font-size: 50px;
  font-weight: 300;
}

.projects:hover {
  color: #575858;
}

.work {
  padding: 50px;
}

h1 {
  position: relative;
  z-index: 2;
}

#tennis {
  background-image: url(tennis_ball.png) no-repeat center center fixed;
  background-size: cover;
  float: right;

}

#tennis img {
  width: 100%;
  position: relative;
}

#tennis h1, #tennis h3 {
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin-left: 250px;
  margin-top: 225px;
  color: white;
}

h3 {
  margin-top: 130px;
  margin-left: -50px;
}
